@import url('./reset.css');

body {
    margin: 0;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper__internal {
    margin: 0 195px;
}

.swiper-wrapper {
    gap: 180px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: transparent;
    width: 544px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@font-face {
    font-family: "Gilroy";
    src: url('./fonts/Gilroy-Medium.woff2');
}

@media(max-width:1700px) {
    .swiper-wrapper {
        gap: 140px;
    }

    .swiper-slide {
        background: transparent;
        width: auto !important;
    }
}

@media(max-width:1400px) {
    .wrapper__title {
        margin: 0 125px;
    }

    .wrapper__internal {
        margin: 0 125px;
    }
}

@media(max-width:1024px) {
    .swiper-wrapper {
        gap: 70px;
    }
}

@media(max-width:750px) {
    .wrapper {
        overflow: hidden;
        position: relative;
    }
}

@media(max-width:550px) {
    .swiper-wrapper {
        gap: 50px;
    }

    .wrapper__internal {
        margin: 0 60px;
    }
}